@font-face
    {
        font-family: 'avenir';
        src: url(fonts/AvenirNextLTPro-Regular.otf);
        font-style: normal;
        font-weight: 100;
    }

html{
    background-color:#00B4D8;
    font-family: 'avenir';
    text-align: center;
}

body{
    padding: 0;
    margin: 0;
    padding-top: 4px;
}

h1{
    font-size: 4em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 2em;
}

h5{
    font-size: 1.25em;
}

li{
    display: inline-block;
}

.welcome{
    background-color:#00B4D8;
    color:#90E0EF;
}

.resume{
    background-color: #90E0EF;
    color: #00B4D8;
}

.sites{
    background-color: #0077B6;
    color: #00B4D8;
    height: 700px;

}

.nav ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    margin-right: 25px;
    font-family: 'avenir';
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}
   
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
   