@font-face
{
    font-family: 'oxygen';
    src: url(../fonts/OxygenMono-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
html { scroll-behavior: smooth; } 

body{
    margin-top: 5%;
    margin-left: 1%;
    font-family: oxygen;
    color: white;
    height: 100%;
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.paragraph{
    line-height: 150%;
}

.scroll-container{
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-section{
    scroll-snap-align: start;
}


